<div class="container">
  <div class="row mt-5">
    <h3>Szolgáltatásaink magánszemélyeknek</h3>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <h4>Egyéni személyiségfejlesztés</h4>
      <div>
        <p>
          Egyszer egy ismerősöm azt mondta nekem, hogy Ő nem érti mit le het
          annyi órán keresztül beszélgetni, egy terapeutánál, és az volt az
          elképzelése, hogy a terapeuta vagy unottan hallgat (mint egyes
          amerikai filmekben), vagy megmondja mit csináljon a kliens bizonyos
          helyzetekben. Ezt azért írtam le, mert Önben is felmerülhet az a
          kérdés, hogy mi zajlik a folyamatban.
        </p>
        <p>
          Az első interjún megbeszélt kereteket figyelembe véve haladunk előre.
          A bizalom mélyülésével-mely mindenkinél más és más ütemben történik-
          tárjuk fel azokat a dolgokat és összefüggéseket amelyek közelebb
          viszik Önt ahhoz a megoldáshoz, amelyik a személyiségének, aktuális
          állapotának leginkább megfelel, és amelyet Ön talál meg önmagában és
          nem kívülről kapja a kész „receptet”.
        </p>
        <p>
          Mai világunkban kész recepteket próbálnak nekünk eladni, megfosztva
          bennünket attól, hogy a bennünk szunnyadó kreativitást használva
          magunk küzdjünk meg nehézségeinkkel. Mi megkíséreljük megtanítani
          arra, hogy hogyan juthat el a saját megoldási repertoárjához, és
          hogyan használhatja azt. Ami az egyikünknek jó megoldás, másikunktól
          nagyon távol állhat.
        </p>
        <p>A folyamat során:</p>
        <ul>
          <li>
            Következmények nélkül kipróbálhatók olyan eddig nem használt, nem
            ismert viselkedés, közlés, kommunikációs és magatartási formák is,
            amelyek eddig nem képezték részét személyiségének, de jobb és
            teljesebb kapcsolatok kialakításában, fenntartásában segíthetik Önt.
          </li>
          <li>
            Megtanulhatja kifejezni őszintén érzéseit, igényeit úgy, hogy nem
            kell tartania a visszautasítástól, ítélkezéstől, megbélyegzéstől.
          </li>
          <li>
            Megtapasztalhatja, hogy lehet önmaga, megtanulhatja megérteni,
            elfogadni és ha kell szeretettel átformálni azon részeit is,
            amelyeket eddig nem ismert, nem szeretett, vagy nem vállalt fel még
            saját maga előtt sem.
          </li>
        </ul>
        Ezeket csak reflektív -visszajelző- kapcsolatban lehet megtenni.
        <p>
          Az életben ezen kapcsolatok sokaságában létezünk, de ha mélyen
          magunkba nézünk, nem minden, sőt kevés olyan kapcsolat van ami
          tartalmában és formájában is őszinte és hiteles. Az önismereti
          folyamatban törekszünk arra, hogy őszintén, de szeretettel jelezzük
          vissza meglátásainkat a klienseink felé. Ettől válik különlegessé,
          hitelessé ez az igazán visszajelző kapcsolat.
        </p>
        <p>
          Az egyéni önismereti munka nem csak azokra az órákra korlátozódik
          amikor találkozunk. A két találkozás között történtek, önismereti
          „házi feladatok”, levont tapasztalatok mind mind részei a folyamatnak.
        </p>
        <p>
          Kívánom, hogy lelje örömét e folyamatban, annak eredményében, találja
          meg újra az utat, melyről letévedt, és járjon másként rajta!
          Magabiztosabban, derűsebben, egészségesebben, jobban felvértezve a
          nehézségek ellen.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Csoportos önismereti módszerek</h4>
      <div>
        <p>A csoport a szociális rendszer speciális fajtája.</p>
        <p>
          Létszámát tekintve vannak kiscsoportok (5-15 fő), illetve nagycsoportok, melyekben több mint 15 fő dolgozik
          együtt valamilyen célból.</p>
        <p>
          A pszichodráma módszeréről ITT olvashat bővebben, a csoportdinamika és a szociometria módszeréről pedig ITT.
        </p>
      </div>
    </div>
  </div>
</div>
