<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <h1 class="text-center mt-5">Kedves Látogató</h1>
      <h3 class="text-center mt-3 mb-3">Szeretettel üdvözlöm honlapomon!</h3>
      <h6 class="text-center">
        Remélem, hogy itt hasznos információkhoz jut, és válaszokat kap
        önismerettel, személyiségfejlesztéssel, személyiségfejlődéssel
        kapcsolatos kérdéseire! Az is lehet, hogy új kérdések merülnek fel
        Önben, vagy már keresi azokat a lehetőségeket, ahol választ kaphat
        ezekre. Bízom benne, hogy talál Önnek való megoldást honlapomon.
      </h6>
    </div>
  </div>
  <div class="row forras-container mt-5 mb-5">
    <div class="col-12 pt-5 pb-5 text-center text-light">
      <h6>
        Bármely korban élünk is, az ember alapvető vágya az, hogy boldog legyen.
        Hol keressük hát boldogságunk forrását?
      </h6>
      <p>
        Jelenlegi felgyorsult, és fogyasztásra felépített világunkban néha mi is
        elhihetjük, hogy ez a forrás megvehető, megrendelhető, nekünk csak
        választani kell, illetve azt gondolhatjuk, hogy ha majd a körülményeink
        megváltoznak, akkor elérjük az áhított harmóniát is. Heroikus
        erőfeszítéseket teszünk annak érdekében, hogy megváltoztassuk
        környezetünket, szeretteinket, embertársainkat, de előbb-utóbb rá kell
        jönnünk, hogy ha Önmagunkon nem változtatunk, nem leszünk boldogok mi
        sem és a körülöttünk élők sem. A forrás bennünk van, ami nem azt
        jelenti, hogy nélkülözhetjük bizonyos körülményeinket illetve a minket
        körülvevő embertársainkat.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Szolgáltatások</h3>
      <div class="card-deck mt-5 mb-5">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/daru.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Magánszemélyeknek</h5>
            <div class="card-text">
              <ul>
                <li>
                  <h6>Egyéni személyiségfejlesztés</h6>
                </li>
                <li>
                  <h6>Csoportos önismereti módszerek</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-secondary">Részletek</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/DSC_0651.JPG" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Szervezeteknek</h5>
            <div class="card-text">
              <ul>
                <li>
                  <h6>Humán tanácsadás</h6>
                </li>
                <li>
                  <h6>Tréningek, képzések</h6>
                </li>
                <li>
                  <h6>Szociális, oktatási, egészségügyi területek</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-secondary">Részletek</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/DSC_0192_01.JPG" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Tudástár</h5>
            <div class="card-text">
              <ul>
                <li>
                  <h6>Információk</h6>
                </li>
                <li>
                  <h6>Itt minden kérdésedre választ kaphatsz</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-secondary">Részletek</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/IMG_5534 2.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Blog</h5>
            <div class="card-text">
              <ul>
                <li>
                  <h6>Hírek</h6>
                </li>
                <li>
                  <h6>Cikkek</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-secondary">Olvasni szeretnék</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row velemenyek">
    <div class="col-12 text-center">
      <h3 class="text-light text-center mt-5 mb-5">Vélemények</h3>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5 class="text-light mt-5">"Mindenkinek ajánlom, nagyon jó kis csapatépítő
              tréninget kaptunk!"</h5>
            <p class="text-light">- IBM</p>
          </div>
          <div class="carousel-item">
            <h5 class="text-light mt-5">"Nagyon sokat segített, ezer hála ért. Nehéz időszakon mentem keresztül de a
              személyiségfejlesztő órák után új embernek éreztem magam."</h5>
            <p class="text-light">- Kovács László</p>
          </div>
          <div class="carousel-item">
            <h5 class="text-light mt-5">"Remek oldal, nagyon tetszenek a cikkek. Remélem sokat kapunk még belőlük!</h5>
            <p class="text-light">- Rúzsa Sándorné</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5 mb-5 text-center">
      <h5>Ön kedves olvasó, bizonyára „kereső”.</h5>
      <h6>
        Már nem elégszik meg a fogyasztói világ által előre adagolt válaszokkal,
        megoldásokkal, már nem hiszi el, hogy megveheti, leemelheti a polcról,
        esetleg megrendelheti azt a legjobb, az Ön személyére szabott megoldást,
        amely azonnal megváltoztatja életét, vagy rendezi nehézségeit. Lehet,
        hogy a jól bejáratott, begyakorolt, eddigi élete során észrevétlenül,
        vagy tudatosan megtanult megoldás módjai sem működnek már?
      </h6>
    </div>
  </div>
  <div class="row felhivas-container text-light">
    <div class="col-12 mt-5 mb-5 ">
      <h3 class="text-center">Elgondolkodott már azon, hogy mit tehet az alábbi élethelyzetekben?</h3>
      <div class="row mt-5">
        <div class="col-md-6">
          <ul>
            <li>
              <h6>Stresszes, feszült, nem érzi jól magát a bőrében,</h6>
            </li>
            <li>
              <h6>Fél, hogy beteg lesz,</h6>
            </li>
            <li>
              <h6>Úgy érzi, hogy a világ igazságtalan Önnel,
              </h6>
            </li>
            <li>
              <h6>
                Régóta gyászol, és úgy érzi nem tudja feldolgozni, nem tud továbblépni,
              </h6>
            </li>
            <li>
              <h6>
                Párja/társa szakított Önnel, vagy Ön szakított vele,
              </h6>
            </li>
            <li>
              <h6>
                Úgy érzi nincs elég önbizalma a munkában/magánéletben,
              </h6>
            </li>
            <li>
              <h6>
                Fél az ismerkedéstől, a visszautasítástól, hogy valakinek/valakiknek nem fog tetszeni,
              </h6>
            </li>
            <li>
              <h6>
                Úgy érzi mindig meg kell felelnie valakinek/mindenkinek,
              </h6>
            </li>
            <li>
              <h6>
                Nehezen hozza meg döntéseit, vagy úgy érzi, hogy a „Sors” döntött Ön helyett,
              </h6>
            </li>
            <li>
              <h6>
                Gyermekei kirepültek a családi fészekből, és bizonytalanná válik, hogyan folytatódik az élete nélkülük,
              </h6>
            </li>
            <li>
              <h6>
                Életének egyik fontos fordulópontjához érkezett, és nem tudja mihez kezdjen vele,
              </h6>
            </li>
            <li>
              <h6>
                Nem szerez örömet a munkája,
              </h6>
            </li>
            <li>
              <h6>
                Nehézkesen jön ki főnökeivel, beosztottjaival, kollégáival,
              </h6>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <h6>
                Úgy érzi álarcot visel, nem lehet Önmaga,
              </h6>
            </li>
            <li>
              <h6>
                Fél a felelősségvállalástól,
              </h6>
            </li>
            <li>
              <h6>
                Fél az elköteleződéstől valaki, vagy valami mellett,
              </h6>
            </li>
            <li>
              <h6>
                Úgy érzi, hogy egyféle szerepben (pl.: anya, apa, főnök, gyerek stb.) működik jól, de ez már fárasztó
                Önnek,
                és szeretné új szerepekben kipróbálni magát,
              </h6>
            </li>
            <li>
              <h6>
                Nincs tekintélye családjában, munkahelyén,
              </h6>
            </li>
            <li>
              <h6>
                Magányos és elszigetelt,
              </h6>
            </li>
            <li>
              <h6>
                Megcsalták, cserbenhagyták,
              </h6>
            </li>
            <li>
              <h6>
                Rendszeresen szerelmi háromszögekbe keveredik,
              </h6>
            </li>
            <li>
              <h6>
                Nem tudja képviselni az igényeit, önmagát,
              </h6>
            </li>
            <li>
              <h6>
                Indulatait elfojtja, vagy kontrollálatlanul éli ki,
              </h6>
            </li>
            <li>
              <h6>
                Nem meri megmutatni érzéseit,
              </h6>
            </li>
            <li>
              <h6>
                Nem tud felszabadultan viselkedni, úgy érzi kontrollálnia kell minden megnyilvánulását,
              </h6>
            </li>
            <li>
              <h6>
                A tanult családi minták gátolják az életvezetésében, ….és sorolhatnánk a végtelenségig, de lehet, hogy
                csak
                szeretné megérteni az Önnel történtek okait és azt, hogy mit tehet annak érdekében, hogy változzon az
                élete.
              </h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5 text-center">
    <h3>Ha úgy érzi, szebb, jobb teljesebb életet szeretne élni, és azt gondolja, hogy tehet ezért, de nem tudja hogyan
      fogjon hozzá, akkor jó helyen jár. Olvasson tovább, vagy jelentkezzen egy díjtalan első személyes beszélgetésre!
    </h3>
  </div>
</div>
