<div class="container">
  <div class="row mt-5">
    <h3>Szolgáltatásaink szervezeteknek</h3>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <h4>Humán tanácsadás</h4>
      <div>
        <p>
          Humán tanácsadásunk során minden esetben egy díjtalan, személyes igényfelmérés előzi meg bárminemű közös
          munkánkat. Ennek a találkozónak az időpontját a jelentkezési lap kitöltése és elküldése után egyeztetjük le.
        </p>
        <ul>
          <li>
            „Megfelelő embert a megfelelő helyre”. Megkeressük és kiválasztjuk az Ön(ök) cége számára.
          </li>
          <li>
            vezetői, vagy alkalmazotti kompetencia felmérés, illetve fejlesztés coaching, vagy tréningek révén,
          </li>
          <li>
            szervezetfejlesztés,
          </li>
          <li>
            projektmenedzsment,
          </li>
          <li>
            karriermenedzsment,
          </li>
          <li>
            kiválasztási folyamat menedzsment,
          </li>
          <li>
            munkaerő értékelési rendszer kidolgozása, bevezetése, lebonyolítása,
          </li>
          <li>
            fluktuáció csökkentése,
          </li>
          <li>
            outplacement tanácsadás területein tudunk közösen együttműködni.
          </li>
        </ul>
        Ezeket csak reflektív -visszajelző- kapcsolatban lehet megtenni.
        <p>
          Az életben ezen kapcsolatok sokaságában létezünk, de ha mélyen
          magunkba nézünk, nem minden, sőt kevés olyan kapcsolat van ami
          tartalmában és formájában is őszinte és hiteles. Az önismereti
          folyamatban törekszünk arra, hogy őszintén, de szeretettel jelezzük
          vissza meglátásainkat a klienseink felé. Ettől válik különlegessé,
          hitelessé ez az igazán visszajelző kapcsolat.
        </p>
        <p>
          Az egyéni önismereti munka nem csak azokra az órákra korlátozódik
          amikor találkozunk. A két találkozás között történtek, önismereti
          „házi feladatok”, levont tapasztalatok mind mind részei a folyamatnak.
        </p>
        <p>
          Kívánom, hogy lelje örömét e folyamatban, annak eredményében, találja
          meg újra az utat, melyről letévedt, és járjon másként rajta!
          Magabiztosabban, derűsebben, egészségesebben, jobban felvértezve a
          nehézségek ellen.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h4>Tréningek, képzések</h4>
      <div>
        <p>Aktuális igényekhez és célokhoz igazítva, egyeztetés után adunk ajánlatot tréningjeinkről, képzéseinkről.
          Tréningjeink egyik specifikuma, hogy alkalmazzuk bennük a dráma technikák közül azokat, amelyek</p>
        <ul>
          <li>
            növelik a résztvevők kreativitását, spontaneitását. Akotóképességük fejlődése hozzásegítheti az Ön(ök) cégét
            a hatékonyabb működéshez,
          </li>
          <li>
            rá tudunk mutatni olyan, a személyiségen belüli általános és egyedi, nem tudatos mozgatórugókra,
            párhuzamokra, amelyek negatívan befolyásolják a kapcsolatokat, a kommunikációt és a munkavégzést. Ezt úgy
            tesszük, hogy mind a résztvevők, mind a megbízónk számára előnyös és elfogadható legyen a felismerés.
          </li>
          <li>
            növelik a résztvevők önbecsülését, önbizalmát és kialakíthatják vagy megerősíthetik pozíciójukat abban a
            közegben ahol dolgoznak,
          </li>
          <li>
            általuk egyenesebb, nyíltabb kommunikációra, kapcsolatokra lehetnek képesek és elfogadóbbá válhatnak az
            esetleges hibák, gyengeségek, hiányosságok, rendszerbeli sajátosságok, a vezetés stb. iránt és
            elkötelezettebbé válhatnak munkájuk és cégük mellett.
          </li>
        </ul>
        <p>
          Ezek a technikák jól alkalmazhatók olyan konfliktusos helyzetben is, ahol a résztvevők érettek arra, hogy
          szembenézzenek ezekkel a helyzetekkel és saját magukkal (vagyis megélhetik, hogy milyen hatást váltanak ki
          viselkedésükkel kollégáikból, beosztottjaikból, főnökükből, riválisaikból, üzlettársaikból stb.).
          Általuk találhatnak konstruktív megoldást, mely mindkét fél számára elfogadható.
        </p>
        <p>
          <b> A szociometria és a csoportdinamika módszerével</b> feltárhatóak azok a felszín alatti pozitív, negatív
          kapcsolódások, rejtett motivációk, melyek a formális keretek mögött mozgatják a szálakat. E két módszerről
          többet olvashat ITT
        </p>
        <p>Tréningjeinket az igényektől, céloktól és létszámtól függően 1, vagy 2 fő, képzett és gyakorlott vezető
          vezeti, akik átlátva a szervezeti illetve személyiségbeli struktúrákat komplex módon dolgozzák ki, illetve
          vezetik a foglalkozásokat.</p>
          <h5>Általunk kínált tréningek:</h5>
          <div class="card-deck mt-5 mb-5">
            <div class="card">
              <img class="card-img-top" src="../../../../assets/images/IMG_20180422_115345.jpg" alt="Card image cap" />
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h5 class="card-title">Konfliktus kezelő tréningek</h5>
                <div class="card-text text-justify">
                  <p>A konfliktusok okairól, fajtáiról, felismerésükről, felvállalásukról, vagy szőnyeg alá söprésükről,
                    konfliktus kezelési stratégiák ismertetéséről, ezek előnyeiről, hátrányairól, felméréséről, tudatos
                  használatáról elméletben és gyakorlati szituációkon keresztül tanulhatóak meg mindenkinek egyénileg és
                  helyzetfüggően azok a módszerek, melyek a legkonstruktívabb megoldást hozhatják. Arra törekszünk, hogy
                  a konfliktusokat az előre haladás erőforrásaivá alakítsuk át és ezt az átalakítást megtanítsuk a
                  résztvevőknek, gyakoroltassuk őket, hogy mindenki a személyiségének és a helyzetnek megfelelő módon
                  tudja alkalmazni.</p>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="" class="btn btn-secondary">Jelentkezem</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../../assets/images/IMG_20190824_124453.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">Csapatépítő tréningek</h5>
              <div class="card-text text-justify">
                Csapatépítő tréningjeinket igény szerint külső (outdoor) vagy zárt (indoor) helyszínen tartunk -
                előzetes igényfelmérés alapján - arra hivatottak,
                <ul>
                  <li>
                    <p>hogy a csapat minden tagja megtalálja, megerősítse helyét, feladatát, képességei
                      maximális kihasználásának lehetőségét,</p>
                  </li>
                  <li>
                    <p>hogy a csoport közös normák, szabályok meghatározásával és azok betartásával stabil egységként
                      tudjon sikeresen működni,</p>
                  </li>
                  <li>
                    <p>hogy a résztvevők hosszútávon gondolkodjanak a cégben, a feladatban,</p>
                  </li>
                  <li>
                    <p>hogy rivalizálás helyett együttműködjenek</p>
                  </li>
                </ul>
                ... még sorolhatnánk azokat a pozitívumokat amik egy jól működő csapat egységének kialakításával,
                működtetésével hozzájárulhatnak egy cég sikereihez.
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-secondary">Jelentkezem</a>
            </div>
          </div>
        </div>
        <div class="card-deck mt-5 mb-5">
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/IMG_20190720_164155.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">Kommunikációs tréningek</h5>
              <div class="card-text text-justify">
                <p>Elméleti alapokat nem nélkülözve interaktív technikákkal, szituációs feladatokon keresztül juthatunk
                  el a hatékony kommunikáció elsajátítása felé. Az alapvető munkahelyi szituációkat átvizsgálva,
                  eljuthatunk egészen a kommunikáció finomabb szintjeire, ahol nem tudatos összefüggések, játszmák,
                  önismereti elakadások gátolják az együttműködést.</p>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-secondary">Jelentkezem</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/IMG_20200405_143125.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">Projektmenedzsment tréningek</h5>
              <div class="card-text text-justify">
                <p>
                  Egy vadonatúj projektötlettől, a már tervezés, vagy lebonyolítás alatt álló, illetve lezárás előtti,
                  befejezett projekt utáni közös munka során az adott igényeknek megfelelően szervezzük és vezetjük a
                  foglalkozást, vagy a foglalkozás sorozatot.
                </p>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-secondary">Jelentkezem</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/IMG_20190720_182354.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">Ügyfélszolgálati tréningek</h5>
              <div class="card-text text-justify">
                <p>
                  Az ügyfelekkel napi kapcsolatban dolgozók munkatársak viselkedési és kommunikációs képességeinek
                  javítása, illetve lelki és szellemi teherbírásuk növelése a cél.
                </p>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-secondary">Jelentkezem</a>
            </div>
          </div>
        </div>
        <div class="card-deck mt-5 mb-5">
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/IMG_20191021_160151.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">Bourn-out tréningek</h5>
              <div class="card-text text-justify">
                <p>
                  Először felmérjük a résztvevők „elfáradását”, motiváció, érték és érdekvesztését.
                  A kapott eredmények függvényében építjük fel a tréning tematikáját.
                  Ez a tréningfajta a szociális szféra széles spektrumán elhelyezkedő munkavállalóknak, önkénteseknek,
                  az oktatásban, gyógyításban és bármilyen rehabilitációs intézményben dolgozóknak, illetve az üzleti
                  szférában pl. ügyfélszolgálatos munkakörökben tevékenykedőknek segíthet a kiégését megelőzni.
                </p>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-secondary">Jelentkezem</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/IMG_20180616_174314.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">Értékesítési tréningek</h5>
              <div class="card-text text-justify">
                <ul>
                  <li>a résztvevők hozzáállásának alakítása,</li>
                  <li>elméleti értékesítési ismereteik fejlesztése,</li>
                  <li>értékesítési, tárgyalási praktikák elsajátítása,</li>
                  <li>a versenyszellem növelése,</li>
                  <li>belső motiváció megtalálása és annak mint erőforrásnak az erősítése, illetve kiaknázása,</li>
                  <li>egymástól tanulás,</li>
                  <li>szükséglet, illetve igény felkeltése, felmérése,</li>
                  <li>értékesítési karrier felvázolása stb.</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="" class="btn btn-secondary">Jelentkezem</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h4>Szociális, oktatási, egészségügyi területek</h4>
      <div>
        <p>Bármilyen segítő foglalkozást végzők részére kínálunk a fenti tréningtípusok mellett csoportos, illetve
          egyéni esetmegbeszélést, rendszeres időközönként, vagy igény szerint eseti alkalommal.</p>
        <p>Ezen foglalkozások keretei, tartalma, tematikája és módszerei mindig az adott szociális területen végzett
          munka specifikumának függvényében kerülnek kialakításra, az igényekhez igazítva.</p>
        <p>A pszichodráma, csoportdinamika és a szociometria, autogén tréning módszere itt is hathatós segítséget
          nyújthat.</p>
        <p>Erről bővebben ITT olvashat</p>
      </div>
      <h5>Ki segít a segítőnek?</h5>
      <p>Akiknek hivatásuk, megélhetésük, vagy önkéntesen vállalják a segítő foglalkozások valamelyikét, a
        legfontosabb
        munkaeszközük a személyiségük. Emberek vagyunk, és nekünk is lehetnek, és vannak problémáink, amelyek igénybe
        veszik erőforrásaink egy részét, és ha éppen nem vagyunk jó passzban, akkor is odafordulással kell lennünk
        választott munkánk, és az ezáltal a hozzánk fordulókkal. Azonban ezt nem tudjuk megtenni, ha nincs miből
        adnunk,
        mert elfogytak, vagy fogyóban vannak az energiáink.</p>
    </div>
  </div>
</div>
